<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
	<extension point="org.eclipse.emf.ecore.generated_package">
		<package 
			uri = "http://www.enseeiht.fr/PDL1"
			class = "fr.enseeiht.pDL1.PDL1Package"
			genModel = "model/generated/PDL1.genmodel" />
	</extension>
</plugin>
