.main {
	position: fixed;
	top: 0;
	bottom: 30px;
	left: 0;
	right: 0;
	display: flex;
}

.footer {
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
	height: 30px;
	line-height: 30px;
	font-size: 30px;
	display: flex;
	flex-wrap: nowrap;
}

.footer .score-display {
	flex: 1 1;
	text-align: center;
}

.footer .settings {
	flex: 0 0;
	padding: 0px 5px;
}

.overlay {
	z-index: 10;
	position: fixed;
	top: 0;
	bottom: 30px;
	left: 0;
	right: 0;
	display: flex;
  	justify-content: center;
  	align-items: center;
	background-color: rgba(50,50,50,.5);
}

.connexion-panel {
	padding: 15px;
	text-align: center;
}

.chat-panel {
	height: 100%;
	width: 300px;
	display: flex;
	flex-direction: column;
}

.chat-panel .ad {
	flex: none;
	width: 100%;
}

.chat {
	flex: 1 1;
	overflow-y: auto;
	padding: 5px;
}

.chat .pseudo {
	font-weight: bold;
}

.sidebar-switch {
	position: absolute;
    left: 0;
    height: 30px;
    width: 30px;
    z-index: 20;
    background-color: #222;
    color: #fff;
    text-align: center;
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, .3);
    transition: left .4s ease;
}

.sidebar-switch > i {
	font-size: 30px;
	line-height: 30px;
	transition: transform .4s ease;
}

.game-board {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	box-shadow: -2px 0 5px 2px rgba(0, 0, 0, .3);
	transition: left .4s ease;
}

.chat-opened .sidebar-switch	{
	left: 300px;
}

.chat-opened .sidebar-switch > i {
	transform: rotate(180deg);
}

.chat-opened > .game-board {
	left: 300px;
}
