.card{
	border-radius: 2px;
	box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, .3);
}

.clickable {
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.hidden {
	display: none !important;
}

.center {
	text-align: center;
}

.flex-fill {
	flex: 1 1;
}

.pacifico {
	font-family: 'Pacifico', cursive;
}

.error-text {
	color: #f44336;
	font-weight: bold;
}

.info-text {
	color: #2196f3;
	font-weight: bold;
}

.disabled {
	color: #444;
	cursor: not-allowed;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

	/* Input, buttons */
.txt-input{
	border: none;
	outline: none;
	background-color: transparent;
	color: #222;
	font-size: 16px;
	border-bottom: solid 1px #222;
	margin: 5px;
}

.txt-input:focus{
	border-bottom-width: 2px;
	margin-bottom: 4px;
}

.btn{
	border: none;
	outline: none;
	background-color: #222;
	font-weight: bold;
	color: #fff;
	font-size: 16px;
	border-radius: 2px;
	box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, .3);
	margin: 5px;
	padding: 5px 10px;
}

.btn:active{
	box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, .3);
}

	/* White on black */
.white-on-black{
	color: #fff;
	background-color: #222;
}

.white-on-black .txt-input{
	color: #fff;
	border-color: #fff;
}

.white-on-black .btn{
	background-color: #fff;
	color: #222;
}
