[submodule "2IMA/SystemesConcurrents/Projet/linda"]
    path = 2IMA/SystemesConcurrents/Projet/linda
	url = git@github.com:thibmeu/enseeiht-linda.git
[submodule "1TR"]
    path = 1TR
	url = git@github.com:thibmeu/enseeiht-1TR.git
[submodule "2IMA/Graphes/Projet"]
    path = 2IMA/Graphes/Projet
	url = git@github.com:thibmeu/enseeiht-Projet-Graphe.git
[submodule "2IMA/SemantiqueEtTraductionDesLangages/Projet"]
	path = 2IMA/SemantiqueEtTraductionDesLangages/Projet
	url = git@github.com:thibmeu/enseeiht-java-compiler.git
