configuration/org.eclipse.core.runtime/.contributions.2
configuration/org.eclipse.core.runtime/.contributors.2
configuration/org.eclipse.core.runtime/.extraData.2
configuration/org.eclipse.core.runtime/.mainData.2
configuration/org.eclipse.core.runtime/.manager/.fileTable.9
configuration/org.eclipse.core.runtime/.namespaces.2
configuration/org.eclipse.core.runtime/.orphans.2
configuration/org.eclipse.core.runtime/.table.2
configuration/org.eclipse.osgi/.manager/.fileTable.3
configuration/org.eclipse.osgi/71/0/.cp/icons/full/etool16/
configuration/org.eclipse.osgi/framework.info.2
