<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            objectClass="org.eclipse.core.resources.IFile"
            nameFilter="*.simplepdl"
            id="fr.enseeiht.simplepdl.m2t.topdl1.ui.popupMenus.contribution.IFile">
         <menu id="org.eclipse.acceleo.module.menu" label="Acceleo Model to Text" path="additionsAcceleo">
               <groupMarker name="acceleo"/> 
         </menu>
         <action
               class="fr.enseeiht.simplepdl.m2t.topdl1.ui.popupMenus.AcceleoGenerateTopdl1Action"
               enablesFor="+"
               id="fr.enseeiht.simplepdl.m2t.topdl1.ui.popupMenus.acceleoGenerateTopdl1Action"
               icon="icons/default.gif"
               label="Generate Topdl1"
               menubarPath="org.eclipse.acceleo.module.menu/acceleo"/>
      </objectContribution>
   </extension>
</plugin>
